@model IEnumerable<ARJE20250319.AppWebMVC.Models.Warehouse>

@{
    ViewData["Title"] = "Index";
}

<h1>Bodegas</h1>

<a asp-action="Create" class="btn btn-primary mb-3">Crear</a>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th> Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WarehouseId" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.WarehouseId" class="btn btn-success btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.WarehouseId" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
